:root{
    --siteBlue:#01579b;
    --siteYellow: rgb(255, 156, 1);
    --siteYellowOne:rgba(255,156,1,.1);
    --siteYellowTwo:rgba(255,156,1,.2);
    --siteYellowThree:rgba(255,156,1,.3);
    --siteYellowFour:rgba(255,156,1,.4);
    --siteYellowFive:rgba(255,156,1,.5);
    --siteYellowSix:rgba(255,156,1,.6);
    --siteYellowSeven:rgba(255,156,1,.7);
    --siteYellowEight:rgba(255,156,1,.8);
    --siteYellowNine: rgba(255, 156, 1, 0.9);
    --siteDarkYellow: rgb(179, 151, 108);
    --siteDarkerYellow: rgb(154, 93, 0);
    --siteDarkYellowCo:#D98D14 ;
    --siteOrange:#E65409 ;
    --siteLightOrange:#F0790A ;
    --siteRadius : 5px;
    --siteRadiusBtn : 10px;
}
html{
    scroll-behavior: smooth;
}
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Typography
 * *********************************** */

body {
    font-family: Tahoma;
    line-height: 1.4;
    direction: rtl;
    overflow-x: hidden;
    background: #f0f0f0;
    font-size: 1.1rem;
    scroll-behavior: smooth;
}
a,
a:visited {
    color: inherit;
    outline: none;
}
button{
    outline: none;
    outline: 0;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* Layout
 * *********************************** */
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}
* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: inherit;
}
input:focus{
    outline: none;
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}



img {
    border-style: none;
}

/*swiper */

/*swiper*/
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*to replace swiper default styles*/
.swiper-container-vije .swiper-pagination{
    width: 100% !important;
    position: relative !important;
}

.swiper-container-vije .swiper-pagination-bullet {
    width: 100% !important;
    height: fit-content !important;
    display: block !important;
    background-color:transparent !important;
    text-align: center;
    padding: 8px 10px;
    font-size: 18px;
    border: none;
    border-radius: 20px 0 0 20px !important;
    transition: .2s;
    color: #707070;
    opacity: 1 !important;
}
.swiper-container-vije .swiper-pagination-bullet-active{
    background-color: var(--siteYellow) !important;
    color: white;
}
.gallery-links{
}
.gallery-links>ul>li{
    text-align: center;
    margin: 0;
    padding: 8px 10px;
    font-size: 15px;
    border: none;
    border-radius: 20px 0 0 20px;
    transition: .2s;
    color: #707070;
}
.gallery-links>ul>li>div{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

ul.offers-lists>li.active{
    background-color: var(--siteYellow);
    color: white;
}
ul.offers-lists>li.active a{
    color: white;

}
.swiper-container-vije .swiper-slide{

}
.cls-3 {
    fill: var(--siteYellow);
}
.cls-4 {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}
.ribbon-discount{
    -moz-transform: rotate(-22deg);
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
}
.ribbon-discount .count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 16px;
    color: #fff;
    line-height: 0;
    text-align: center;
    white-space: nowrap;
}
.home-gallery-bg img{
    /*background-repeat: no-repeat;*/
    /*-webkit-background-clip: border-box;*/
    /*-o-background-clip: border-box;*/
    /*background-clip: border-box;*/
    /*background-origin: border-box;*/
    /*background-position: center;*/
    /*-webkit-background-size: contain;*/
    /*-moz-background-size: contain;*/
    /*-o-background-size: contain;*/
    /*background-size: contain;*/

}
.gallery-main{
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow-y: hidden;
    pointer-events: none;
    transform: scale(0.9);
    transition: all 0.2s linear;
    color: rgba(0,0,0,0.5);
}
.gallery-main.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: scale(1);
    height: auto;
    overflow-y: visible;
}
.gallery-main-list>ul>li {
    padding: 0 22px 0 0;
    position: relative;
}

.gallery-main-list>ul>li:before{
    font-family:"Font Awesome 5 Free";
    font-weight: 600;
    font-size: 0.9rem;
    content: '\f00c';
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(0,0,0,0.5);
}

.gallery-main-price .old-price{
    color: rgba(0,0,0,0.6);
}
.gallery-main-price .new-price{
    color: var(--siteYellow);
    font-size: larger;
}
.gallery-main-countdown, .gallery-main-progress{
    color: rgba(0,0,0,0.6);
}

.number-countdown-container{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #e5e5e5;
    color: #5a5a5a;
    font-size: 1.5rem;
    line-height: 3rem;
    position: relative;
}
.number-countdown-container.active{
    color: var(--siteYellow);
    background-color: var(--siteYellowTwo);
}
.number-countdown-container:after{
    position: absolute;
    font-size: 1rem;
    line-height: 1.5rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.number-countdown-day:after{
    content: 'روز';
}
.number-countdown-hour:after{
    content: 'ساعت';
}
.number-countdown-minutes:after{
    content: 'دقیقه';
}
.number-countdown-seconds:after{
    content: 'ثانیه';
}
.number-countdown-seconds{
    animation: bgBlue 1s infinite ease-in-out alternate;
}
.number-countdown-seconds span{
    display: block;
    animation: bigger 1s infinite linear ;
}

@keyframes bgBlue {
    from{
        color: var(--siteOrange);
        background-color: #c5d0db;
    }
    to{
        background-color: #e5e5e5;
        color: #5a5a5a;
    }
}
@keyframes bigger {
    from{
        transform: scale(1.2);
        opacity: 0.6;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.gallery-main-progress progress {
    border-radius: 2rem;
    width: 100%;
    height: 4px;

}
.gallery-main-progress  progress::-webkit-progress-bar {
    background-color:rgba(0,0,0,0.2);
    border-radius: 2rem;

}
.gallery-main-progress  progress::-webkit-progress-value {
    background-color: green;
    border-radius: 2rem;
}
.gallery-main-progress  progress::-moz-progress-bar {
    background-color: green;
    border-radius: 2rem;
}
.c-box-container{
}
.c-promo-single{
    text-align: right;
    height: 100%;
    background: white;
    color: #757575;
    -webkit-box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 3%);
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 3%);
    border-radius:10px;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 0;
    white-space: nowrap;
}
.c-promo-single-headline{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.6rem;
    position: relative;
    width: fit-content;
    height: 100%;
    flex-grow: 0;
}
.product-full-view-btn{
    color: var(--siteYellow) !important;
}
.instant-view-sub-title{
    display: block;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    margin-bottom: 0;
}
.swiper-instant-offers{
    width: 100%;
    max-height: calc(100% - 57px);
}
.c-promo-single-headline:after{

}
.swiper-instant-offers .swiper-slide,.swiper-instant-offers .swiper-slide-active{
    position: relative;
}
.swiper-instant-offers .swiper-slide-active:before{
    height: 2px;
    position: absolute;
    border-radius: 20px;
    background: #ccc;
    bottom: 20px;
    right: 20px;
    content: "";

}
.swiper-instant-offers .swiper-slide-active .product-item-container{
    position: relative;
}
.swiper-instant-offers .swiper-slide-active .product-item-container:after{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 0;
    height: 5px;
    border-radius: 20px;
    background: #ccc;
    content: "";
    -webkit-animation: bar-fill 7s cubic-bezier(.17,.67,.71,.99) infinite;
    animation: bar-fill 7s cubic-bezier(.17,.67,.71,.99) infinite;
}
@-webkit-keyframes bar-fill{
    0%{width:0}
    to{width:calc(100% - 20px)}
}
@keyframes bar-fill{
    0%{width:0}
    to{width:calc(100% - 20px)}
}

.swiper-wrapper{
    box-sizing: border-box;
}
.swiper-instant-offers  .swiper-wrapper{
    height: calc(100% - 57px);
    max-height: 100%;
}
.product-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    position: static;
    text-align: center;
    color: var(--siteBlue);
    height: 40px;
    direction: ltr;
    transition: .2s;
    transition-delay: .8s;
    font-weight: bold;
    text-align: center;
}
.product-ask-basket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding: 15px;
    overflow: hidden;
    transform: scale(0);
    pointer-events: none;
    transition: all 0.2s linear;
}

.product-ask-basket.show{
    transform: scale(1);
    pointer-events: auto;
}
/*page stylesheets*/
.best-deals-section{
    display: grid;
    grid-template-areas: "a b c"
                        "a d e";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.best-deals-item:nth-child(1){
    grid-area: a;
}
.best-deals-item:nth-child(2){
    grid-area: b;
}
.best-deals-item:nth-child(3){
    grid-area: c;
}
.best-deals-item:nth-child(4){
    grid-area: d;
}
.best-deals-item:nth-child(5){
    grid-area: e;
}
.best-deals-container{
    margin: 0 auto;
    padding-top: 8px;
}
.best-deals-carts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem ;
}
.gallery-top {
    /*height: 100%;*/
    /*width: 33%;*/
    /*margin-right: 2% !important;*/
    grid-column: 1 / 2;
}
.gallery-top .swiper-slide{
    padding-bottom: 2vw !important;
}
.gallery-thumb-group {
    /*height: 100%;*/
    /*width: 66.98%;*/
    box-sizing: border-box;
    grid-column: 2 / 4;
}
.gallery-thumb-group .swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem ;
    direction: ltr;

    grid-auto-flow:row;
}
.gallery-thumb-group .swiper-slide {
    opacity: 1;
    margin-left: 0 !important;
    background-color: transparent !important;
    padding:0  !important;
    cursor: pointer;
    /*grid-column: span 1 / span 1;*/
    width: 100% !important;
    direction: rtl;
}
.gallery-thumb-group .swiper-slide[aria-label="2 / 5"]:has( + .swiper-slide + .swiper-slide + .swiper-slide-thumb-active) {
    grid-column: 1 / 2 !important;
    grid-row: 1 / 2 !important;
}
.be-fix-grid{
    grid-column: 1 / 2 !important;
    grid-row: 1 / 2 !important;
}
.gallery-thumb-group .swiper-slide-thumb-active {
    opacity: 1;
    grid-column: span 0 / span 0;

    display: none;
}
.gallery-thumb-group .swiper-wrapper{
    transform: translate3d(0,0,0) !important;
}
@media screen and (min-width: 1024px){

    /**1 / 5***/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide  + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 2 / 3 !important;
    }

    /*2 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }

    /**3 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="3 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="3 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }

    /**4 / 5**/

    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="4 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    /**5 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="5 / 5"] ~ .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 2 / 3 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="5 / 5"] ~ .swiper-slide[aria-label="2 / 5"]{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }

}
@media screen and (max-width: 1023px){
    .incredible-gallery-container{
        padding: 10px;
    }
    .best-deals-carts{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .gallery-top {
        /*height: 100%;*/
        /*width: 100%;*/
        margin-bottom: 2vw;
        /*margin-right: 2% !important;*/
        grid-row: 1 / 2;
        grid-column: 1 / 2;

    }

    .gallery-thumb-group {
        /*height: 100%;*/
        /*width: 100%;*/
        /*box-sizing: border-box;*/
        /*padding: 10px 0;*/
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .gallery-thumb-group .swiper-wrapper{
        /*display: flex !important;*/
        /*flex-direction: row !important;*/
        /*flex-wrap: wrap;*/
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        justify-content: end;
        align-content: end;
    }
    .gallery-thumb-group .swiper-slide{
        width: 100% !important;
    }


    .offers-swiper-pagination-container{
        position: absolute;
        right: calc(-33% - 11px); /*10px is the padding of incredible-gallery-container*/
        top: 50%;
        transform: translateY(-50%);
        width: 33%;
    }
    /*****************/

    /**1 / 5***/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="1 / 5"] + .swiper-slide  + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 2 / 3 !important;
    }

    /*2 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="2 / 5"] + .swiper-slide + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 2 / 3 !important;
    }

    /**3 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="3 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="3 / 5"] + .swiper-slide + .swiper-slide{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }

    /**4 / 5**/

    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="4 / 5"] + .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 1 / 2 !important;
    }
    /**5 / 5**/
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="5 / 5"] ~ .swiper-slide{
        grid-column: 2 / 3 !important;
        grid-row: 2 / 3 !important;
    }
    .gallery-thumb-group .swiper-slide-thumb-active[aria-label="5 / 5"] ~ .swiper-slide[aria-label="2 / 5"]{
        grid-column: 1 / 2 !important;
        grid-row: 1 / 2 !important;
    }

}